
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;1,300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Karla:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap');
body{
    font-family: 'Raleway', sans-serif;
    font-size:1.2rem;
    margin:0;
    padding:0;
    scroll-behavior: smooth;
    overflow-x: hidden;
    background-color:rgba(205, 223, 216, 0.4);
    

}
*{
    padding:0;
    margin:0;
    box-sizing: border-box;
}


.flex{
    display:flex;
    justify-content: space-between;
}

/*.......style navbar......*/
.navbar{
    padding:1rem 3rem;
    width:100%;
    font-size:1.2rem;
    color:black;
    display: flex;
    justify-content: space-between;
    top:0;
    position: fixed;
    margin-bottom: 0px;
    z-index:10;
    transition:1s;

}




  nav>.nav-links>a {
    display: inline-block;
    padding: 13px 10px 13px 10px;
    text-decoration: none;
    color: #efefef;
    position: relative;
    font-weight: bold;
}

nav>.nav-links>a::after {
    content: "";
    height: 3px;
    width: 0%;
    background-color:rgb(38, 155, 129);
    position: absolute;
    bottom: 5px;
    transition: 0.5s;
    left:0;
}
nav>.nav-links>a.active::after {
    content: "";
    height: 3px;
    width: 100%;
    background-color: rgb(38, 155, 129);
    position: absolute;
    bottom: 5px;
    transition: 1s;
    left:0;
}

nav>.nav-links>a:hover::after {
    width: 100%;
    transition:1s;
}
  

a{
    text-decoration: none;
}

#logo{
    font-weight: bolder;
    font-size: 1.3rem;
    font-style: italic;
    text-shadow: 2px;
    color:white;
    
    
}

   
 /*........ style banière..........*/   
.banner{
margin-top:-3em;
height: 40em;
background-image:linear-gradient(rgba(0,0,0,0.2), rgba(0,0,0,0.1)), url('image/home.jpg'); 
background-repeat: no-repeat;
background-size: cover;
background-attachment: fixed;
background-position: center;

}


.content{
 
    text-align: center;
    margin-top: 0em;
    padding-top: 10em;
}
.content h1{
    font-size: 4rem;
    font-style: italic;
    margin: 4rem;

    color:rgb(194, 223, 208);
}


/*.......style du formulaire...*/
input,select{
    padding:1rem 3rem;
    background-color:rgba(247, 246, 235, 0.8);
  
    border:none;
}
textarea{
    background-color:rgba(247, 246, 235, 0.8);
 
}
input[type=button]{
    background-color: rgb(93, 151, 116);

}
input[type=button]:hover{
    
    background-color: black;
    color:white;
}


.content1 form{
    background-color:rgba(17, 17, 17, 0.5); 
    padding:2rem 0rem;
    margin:1rem 4rem;
}
/*............categories ...........*/
main{
    text-align: center;
}
.subtitle{
    margin: 5rem 0rem;
    font-weight: bolder;
    font-size: 2rem;
    text-align: center;
    font-style: italic;
}
/*-----style card categories---*/
.card {
    
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 35%;
    border-radius: 5px;
    position:relative;
    margin-left: 1rem;
  }
  
  .card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    transform: scale(1.02);

  }
  
  .card img {
    border-radius: 5px 5px 0 0;
    width: 100%;
    height:100%;
  }
  
  .container {

    position: absolute;
    width: 100%;
    bottom: 0;
    background-color: rgba(0,0,0,0.5);
    color:rgb(236, 222, 222);
    padding:1rem;
  }

.slide-item{
    width:30%;
    height: 20rem;
}
.slider .slide-item img{
    width: 100%;
    height:100%; 
}
.slider .slide-item img:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    transform: scale(1.02);
    filter:brightness(60%);

  }


.annonce{

    margin: 4rem 0rem;
    height: 23rem;
    background-image:linear-gradient(rgba(0,0,0,0.2), rgba(0,0,0,0.4)), url(image/fran-hogan-zhs_y6CLWco-unsplash.jpg);
    background-attachment: fixed;
    background-position: center;
    background-position: cover;
    background-repeat: no-repeat;
    display:flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.annonce input{
    margin-top:2rem;
}

.annonce1 h1{
    color:rgb(224, 228, 226);
    
}
/*....tetiimonials....*/
.clients{
    margin:1rem 3rem;
    padding:4rem 4rem;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 40%;
    border-radius: 2rem;
    position:relative;
    padding: 2rem;
    background-color: whitesmoke;
    display: flex;
    justify-content: space-between;
    
    

}


.clients img {
    border-radius: 100%;
    width:6rem;
    height:6rem;
    object-fit: cover;
    margin-right:1rem;
    
  
  }
  .stars i {color:#ffd832}


  .grid{
    display: grid;
    grid-template-columns: auto auto auto;
  }

  
  

  .Advantage{
    padding: 4rem 1rem;
    text-align: center;
 
  }
  .Advantage h4{
      margin-bottom: 2rem;
   
  }
.icon{
   
    position:absolute;
    top:-4rem;
    background-color: rgb(91, 196, 178);
    padding: 2rem 2rem;
    width: 6rem;
    height:6rem;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color:white;
}
.content2{
    margin:1rem 4rem;
    display:grid;
    grid-template-columns: repeat(4,1fr);
    grid-gap:1rem;
}

.contenu{
    margin:8rem 0rem ;
    padding:2rem 0rem;
    background-color: rgb(32, 34, 34);
  
}
.contenu .subtitle{
    color:white;
    margin-bottom: 8rem;
}
.cardadv{
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    border-radius: 5px;
    position:relative;
    margin-left: 1rem;
    display: flex;
    justify-content: center;
    background-color: rgb(209, 243, 236);

  }
  .cardadv:hover{
      transform: translateY(-10px)!important;
  }



/*.....footer...*/
  footer{
    color:whitesmoke;
    padding-left:10rem;
    margin-top:15rem;
    padding:4rem;
    font-size: 1.1rem;
    list-style-type: none;
    background: rgb(20,29,26);
    background: linear-gradient(122deg, rgba(20,29,26,1) 11%, rgba(189,246,220,1) 100%);
}
footer li{

    color: black;
}
footer a{
    color:rgb(0, 0, 0);
   
}
footer h4{
    margin-bottom: 0.5rem;
}
footer .description :nth-child(2){
    margin-top:1rem;
}
footer a:hover{
  font-weight: bolder;
  border-bottom:2px solid rgb(27, 26, 26);
  text-shadow: 1px solid rgb(27, 26, 26);
  

}
footer ::placeholder{
    color:rgb(63, 82, 83);
    font-size: 1rem;
}
footer .newsletter input[type="e-mail"]{
    margin-top: 2rem;
    background-color:rgba(32, 34, 34, 0.3);
    outline: none;
    border-bottom: 1px solid black;
    color:black;
}



footer button{
    background-color: black;
    padding: 1rem;
    border-radius: 0 1rem 1rem 0rem;
    
}
footer i{
    color:white;
}


 /*........  page Rent style banière..........*/   
 .banière{
    margin-top: -3em;
    height: 18em;
    background-image:linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url('image/florian-schmidinger-b_79nOqf95I-unsplash.jpg'); 
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    
    }

    .content h2{
        font-size: 2rem;
        font-style: italic;
        margin-bottom: 3rem;
        color:white;
    }
/*-----style subtilte---*/
    .début{
    padding-bottom: 1rem;
    border-bottom:3px solid rgb(38, 155, 129);
    color:rgb(38, 155, 129);
    width:1px;
    }

    .main{
        margin:6rem 5rem;
    }
   
   /*--------card product----*/
    .products{
        margin:4rem 5rem;
        display:grid;
        justify-content: center;
        grid-template-columns: auto auto auto;
        grid-gap:2rem;
      }
    .card2 {
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
        border-radius: 3rem 0rem 3rem 0rem ;
        color: rgb(63, 58, 58);
        position: relative;
        
        
        
      }
      .card2 h4,p{
          padding: 0em 1em;
      }
      .card2 img{
        border-top-left-radius: 3rem;
        width:100%;
        height:16rem;
        

      }
    
      .card2:hover {
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
        transform: scale(1.02);
        transform: rotate(-2deg);
      

        filter: brightness(60%);
      }
      .contain-price{

    position: absolute;
    width: 100%;
    margin-top:-3rem;
    background-color: rgba(0,0,0,0.5);
    color:rgb(236, 222, 222);
    padding:0.5em;
    
    
      }
      .price {
        color: rgb(231, 210, 158);
        font-weight: bolder;
      
        
      }
      
      .card2 .desc{
          padding:1em;
          display: flex;
          justify-content: space-between;
          font-size: 0.9rem;


      }
      .card2 .desc i{
          color:rgb(38, 129, 76)
      }
     
      
      .photo img{
          width:400px;
      }
     



      /* Animation */
.anim-typewriter{
    animation: typewriter 4s steps(44) 1s 1 normal both,
               blinkTextCursor 500ms steps(44) infinite normal;
  }
  @keyframes typewriter{
    from{width: 0;}
    to{width: 24em;}
  }
  @keyframes blinkTextCursor{
    from{border-right-color: rgba(255,255,255,.75);}
    to{border-right-color: transparent;}
  }
  
  .line-1{
    position: relative;
    top: 50%;  
    width: 24em;
    margin: 0 auto;
    border-right: 2px solid rgba(255,255,255,.75);
    font-size: 180%;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    transform: translateY(-50%); 
    font-size:2.8rem;  
    font-weight:bold;
    font-style: italic; 
}
